{% extends 'base.html.twig' %}

{% block body %}
<link rel="stylesheet" href="{{ asset('assets/css/approche.css') }}">
<body>
    <h1>APPROCHE</h1>
    <section>
    <h2>UN ENSEIGNEMENT ADAPTÉ</h2>
    <p>
    UN ENSEIGNEMENT ADAPTÉ

Porter et donner la vie est un moment unique, c’est un état de santé de grands bouleversements hormonaux et mécaniques. La pratique du sport est conseillée pendant et après la grossesse, simplement si vous êtes enceinte ou si vous avez accouché, je vous invite à bouger différemment et à vous adapter aux changements corporels liés à cet état de santé particulier.
C’est pour cela que mes cours sont basés sur la Méthode de Gasquet, pour protéger le ventre et les organes, et pour prévenir les désagréments du post accouchement.
<br><br>
Pour moi, l'écoute et l'ajustement constant sont les bases de l'enseignement périnatal.
Je n'enseigne donc qu'en petit groupe pour être pleinement présente et disponible pour mes élèves et m'adapter à chacune d'entre elles.
<br>
Les séances individuelles en ligne sont toujours accompagnées d'un entretien préalable.
<br><br>
Vous proposer une expérience confortable et des outils pour que vous puissiez les adopter, et même peut-être, les transmettre à votre tour à d'autres femmes, voilà l'essence de mon enseignement.
    </p>
    </section>
</body>
{% endblock %}